ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-name {
  font-weight: 600;
  font-size: 1.5em
}

.navbar-nav {
  width: 100%;
}

.group-chat-name {
  background: #EBEBE3;
  padding: 10px;
}

.owner {
  background: #e2ffc9;
  margin-left: 10%;
}

.group-text {
  margin-right: 10%;
}

.chat {
  height: calc(100vh - 65px);
  background-color: #F7F7F7;
}

.name,
.about {
  background: white;
}